body {
  font-family: "Tinos", serif;
  background-color: rgb(207, 191, 170);
  font-weight: bold;
}
.header {
  font-family: "Lusitana", serif;
  font-weight: bold;
}

.header {
  padding: 5px;
  text-align: center;
  border-radius: 50%;
}

img {
  opacity: 1;
  border-radius: 70%;
}

img:hover {
  opacity: 0.6;
}

.center {
  margin: auto;
  width: 70%;
  border: 3px solid #040404;
  padding: 5px;
}
