body {
  font-family: "Tinos", serif;
  background-image: url("https://images6.alphacoders.com/434/thumb-1920-434430.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  min-width: 700px;
}

.header {
  font-family: "Lusitana", serif;
  font-weight: bold;
  padding: 1px;
  text-align: center;
  grid-area: header;
  background-color: rgb(119, 81, 81);
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header" "header"
    "article" "aside"
    "footer" "footer";
  grid-template-columns: 2fr 2fr;
  column-gap: 1fr;
  row-gap: 1fr;
}

article {
  text-align: left;
  width: 90%;
  font-size: 20px;
  font: bold;
}

footer {
  grid-area: footer;
}

.side {
  grid-area: sidebar;
  background-color: rgb(134, 68, 68);
  margin: auto;
  width: 70%;
  border: 1px solid #ffffff;
  padding: 10px;
  text-align: left;
  grid-row: 2;
  grid-column: 3 / 4;
}
