body {
  font-family: "Tinos", serif;
  background-color: rgb(207, 191, 170);
  font-weight: bold;
}
.header {
  font-family: "Lusitana", serif;
  font-weight: bold;
  padding: 1px;
  text-align: center;
  grid-area: header;
  background-color: rgb(119, 81, 81);
}

img {
  opacity: 1;
  border-radius: 70%;
}

img:hover {
  opacity: 0.6;
}

main {
  display: grid;
  grid-template-areas:
    "header"
    "article"
    "aside"
    "footer";
  grid-template-rows: 60vh 10vh 30vh;
}

article {
  grid-area: article;
  background-color: rgb(38, 69, 69);
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
  background-color: blanchedalmond;
}

.intro {
  background-color: rgb(132, 132, 35);
  margin: auto;
}
